<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include 'global/partials/_head.html' %}
</head>
<body>
    {% include 'global/partials/_header.html' %}

    {% if message %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <main class="content">
        {% block content %}{% endblock content %} 
    </main>

    {% include 'global/partials/_pagination.html' %}
</body>
</html>